{% extends "layout.twig" %}

{% block title %}Accueil{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block content %}
  <h2>Page d'accueil</h2>
  <p>Ceci est la page d’accueil du site 🚀.</p>
{% endblock %}

{% block scripts %}
<script src="/js/index.js"></script>
{% endblock %}
