{% extends "layout.twig" %}

{% block title %}Accueil{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block content %}
  <h2>{{title}}</h2>
  <p>{{message}}</p>
{% endblock %}

{% block scripts %}
<script src="/js/index.js"></script>
{% endblock %}
